In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import data base
df=pd.read_csv(r"C:\Users\Admin\Desktop\Viska\Practice project\28th Apr'24/linear_r.csv")
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
df.tail()

    YearsExperience  Salary
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [5]:
df.shape

(30, 2)

In [6]:
df.shape[0]

30

In [7]:
df.shape[1]

2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 612.0 bytes

In [9]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [10]:
df.describe(include='all')

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [11]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=30, step=1)

In [13]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [14]:
x=df[['YearsExperience']]
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [15]:
y=df[['Salary']]
y

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=42)

In [17]:
len(x_train)

24

In [18]:
len(x_test)

6

In [19]:
x_train

    YearsExperience
28             10.3
24              8.7
12              4.0
0               1.1
4               2.2
16              5.1
5               2.9
13              4.1
11              4.0
22              7.9
1               1.3
2               1.5
25              9.0
3               2.0
21              7.1
26              9.5
18              5.9
29             10.5
20              6.8
7               3.2
10              3.9
14              4.5
19              6.0
6               3.0

In [20]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)
print(x.shape)

(24, 1)
(6, 1)
(24, 1)
(6, 1)
(30, 1)

In [21]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [24]:
model.fit(x_train, y_train)

LinearRegression()

In [25]:
x_test

    YearsExperience
27              9.6
15              4.9
23              8.2
17              5.3
8               3.2
9               3.7

In [29]:
y_pred=model.predict(x_test)
y_pred

array([[115790.21011287],
       [ 71498.27809463],
       [102596.86866063],
       [ 75267.80422384],
       [ 55477.79204548],
       [ 60189.69970699]])

In [27]:
y_test

    Salary
27  112635
15   67938
23  113812
17   83088
8    64445
9    57189

In [31]:
model.score(x_test,y_test)

0.9024461774180497

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test,y_pred)

0.9024461774180497

In [36]:
model.predict([[9]])

array([[110135.92091906]])

In [ ]:
y=a0+a1x
y=output,x=input,a0=intercept,a1=coefficient

In [37]:
x_test

    YearsExperience
27              9.6
15              4.9
23              8.2
17              5.3
8               3.2
9               3.7

In [44]:
y_test

    Salary
27  112635
15   67938
23  113812
17   83088
8    64445
9    57189

In [38]:
model.intercept_

array([25321.58301178])

In [40]:
model.coef_

array([[9423.81532303]])

In [45]:
y=25321.58301178+9423.81532303*9.6
y

115790.210112868